*{
  color: var(--color-txt);
}
.container{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

.content{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-txt);
}

ul{
  list-style: none;
  display: inline-flex;

}
