.container{
  height: 100%;
  width: 100%;
}

.mylist{
  padding: auto;
}

button{
  height: 3rem;
  width:  3rem;
  background-color: transparent;
  text-decoration: none;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  text-align: center;
  opacity: 0.8;
  transform: scale(1.8);
  color: var(--color-txt);
}

button:hover{
  color: red;
  transform: scale(2.0);
  transition: 40ms ease-in-out;
  opacity: 1;
}

button:active{
  transform: scale(0.9);
  //background-color: transparent;
  background-color: var(--color-logo-second);
  color: red;
  transition: 20ms ease-in;
}


