.container{
  height: 100%;
  width: 100%;
}

.mylist{
  padding: auto;
}

button{
  height: 3rem;
  width:  3rem;
  background-color: transparent;
  text-decoration: none;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
  color: var(--color-txt);
}


button:hover{
  background-color:var(--color-button-hover);
  color: var(--color-logo-second);
  padding: auto;
  transform: scale(1);
  transition: 40ms ease-in-out;
  opacity: 1;
}

button:active{
  transform: scale(0.9);
  background-color: var(--color-logo-second);
  color: red;
  transition: 20ms ease-in;
}

.div{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div{
-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
user-select: none;
}
