*{
  color: var(--color-txt);
}
.container{
  margin-top: 3vw;
}
.content{
  padding-bottom: 5%;
}

.admin{
  margin: 0 40%;
  padding-left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 20%;
  z-index: 1;
  height: fit-content;
}

.admin default-button{
  margin: 0 4%;
}

.main{
  margin-top: 1vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  overflow: hidden;
}
.mainContent{
  margin-top: 9vw;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;

}

.main_movie_info{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main_movie_info_col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-flow: column;
}


.rating{
  position: relative;
  display: flex;
  height: fit-content;
  width: auto;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rating star-rating{
  margin-top: 0.8vw;
}

.rating_box{
  width: fit-content;
  height: fit-content;
  display: flex;
  margin-top: 0.7vw;
  margin-left: 0vw;
  padding: 0;
  justify-content: center;

}

.rating_box .numberOfRatings{
  padding: 0  1vw;
  width: fit-content;
  background: var(--color-logo-second);
  border-radius: 15px;
  font-size: 25px;
  opacity: 0.8;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
}
.rating_box .numberOfRatings:hover{
  opacity: 1;
}
.tooltipText{
  visibility: hidden;
}

.bgImg{
  position: absolute;
  width: 100%;
  height: 51rem;
  opacity: 0.2;
}

.poster{
  position: relative;
  margin-top: -3vw;
  padding: 0% 5%;
  text-align: center;
}

.movie__poster{
  position: relative;
  width: 25rem;
  border-radius: 2rem;
}

.trailer {
  position: relative;
  top:-3vw;
  height: 30vw;
  width: 60vw;
}

iframe {
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
}

.movie_info{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -4vw;
  width: 100%;
  height: fit-content;
  overflow: hidden;
}



ul li{
  list-style: none;
}

.img__screenwriters{
  width: 20rem;
}

/*----------------------*/

.plot{
  border-top: 1px solid var(--color-info-separator);
  margin-top:3vw;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}


.zone{
  border-top: 1px solid var(--color-info-separator);
  justify-content: center;
  text-align: center;
  position: flex;
  width: 80%;
  margin: 1% 10%;
}


.zone ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  list-style-type: none ;
  padding: 0;
}

.zone img{
  width: 15rem;
  height: 22rem;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--color-info-cadre);
}


.streaming{
  position: relative;
  text-align: center;
  overflow: hidden;
  border-top: 1px solid var(--color-info-separator);
  margin: 10%;
}
.streaming ul{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.streaming ul li {
  padding: 0 1rem;
}


.img__streaming{
  width: 6rem;
}

.streaming ul li:hover {
  padding: 0 2rem;
  .img__streaming{
    transform: scale(1.6);
  }
}

.actors .txt__actors{
  font-size: 1.5rem;
  margin: 0;
}
.actors h4{
  font-size: 1rem;
  margin: 0;
}

/*favorites*/
.fav_list_buttons{
  position: relative;
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:center;
  margin-top: 1.7vw;
}

.fav_button{
  justify-content: center;
  margin-right: 0.1rem;
}
.txt{
  flex-direction: column;
}
/*comments*/

.comments{
  margin: 10%;
  width: 80%;
  height: 100%;
}

.commentsBox{
  background-color: var(--color-second);
  border-radius: 15px;
  margin: 0;
  padding: 3%;
}
