<div class="container">
  <div class="details">

    <section class="main">
      <img class="bgImg" [src]="movie.poster">
      <div class="main_movie_info">
        <div class="poster">
          <img class="movie__poster" [src]="movie.poster" [alt]="movie.title">

        </div>

        <div class="main_movie_info_col">
          <div class="trailer">
            <iframe width="560" height="315" [src]="videoUrl" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen></iframe>
          </div>

          <div class="movie_info">
            <h1>{{movie.title}}
            <span class="favorite{{movie.favorite? '':'not'}}">❤</span></h1>
            <div *ngIf="isAuth">
              <default-button class="addFav" type="button" text="addToFav" (onClick)="addToFavorits() "></default-button>
            </div>
            <star-rating [valueOfStars]="movie.stars" icon="★">
            </star-rating>
            <p>Sorti en France en {{movie.year}}</p>
          </div>

          <div class="admin" *ngIf="isAdmin">
            <default-button type="button" text="Delete" (onClick)="deleteMovie()"></default-button>
            <default-button type="button" text="Update" (onClick)="updateMovie()"></default-button>
          </div>

        </div>
      </div>
    </section>

    <section class="info">

      <div class="plot">
        <h2>Synopsis</h2>
        <p>{{movie.plot}}</p>
      </div>


      <div class="directors">
        <h2>Directors</h2>

        <ul>
          <li *ngFor="let director of movie.director">
            <img class="img__directors" [src]="director.photo" [alt]="director.name">
            <h3 class="txt__directors">{{director.name}}</h3>
          </li>
        </ul>
      </div>

      <div class="screenwriters">
        <h2>Screenwriters</h2>
        <ul>
          <li *ngFor="let screenwriter of movie.screenwriters">
            <img class="img__screenwriters" [src]="screenwriter.photo" [alt]="movie">
            <h3 class="txt__screenwriters">{{screenwriter.name}}</h3>
          </li>
        </ul>
      </div>

      <div class="actors">
        <h2>Actors</h2>
        <ul>
          <li *ngFor="let actors of movie.actors">
            <img class="img__actors" [src]="actors.photo" [alt]="movie">
            <h3 class="txt__actors">{{actors.name}}</h3>
            <h4>rôle: {{actors.role}}</h4>
          </li>
        </ul>
      </div>



      <div class="streaming">
        <h2>Where can i watch it??</h2>
        <ul>
          <li *ngFor="let streaming of movie.streaming">
            <h1>{{streaming.name}}</h1>
            <a href="https://www.disneyplus.com" target="_blank"
              *ngIf="streaming.name.toLowerCase().includes('disney')">
              <img class="img__streaming" src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Disney%2B_logo.svg"
                alt="disney">
            </a>
            <a href="https://www.primevideo.com" target="_blank" *ngIf="streaming.name.toLowerCase().includes('prime')">
              <img class="img__streaming"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Amazon_Prime_Video_logo.svg/440px-Amazon_Prime_Video_logo.svg.png"
                alt="primevideo">
            </a>

            <a href="https://www.netflix.com" target="_blank" *ngIf="streaming.name.toLowerCase().includes('netflix')">
              <img class="img__streaming"
                src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="netflix">
            </a>
          </li>
        </ul>
      </div>


    </section>


    <section class="comments">
      <h2>Comentaires:</h2>


      <ul>
        <li>
          Comentaires
        </li>
      </ul>
    </section>


  </div>
</div>
