*{
  color: var(--color-txt);
}

.details{
  padding-bottom: 5%;
}

.main{
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  justify-items: center;
  margin-bottom: 10%;
  overflow: hidden;
}

.main_movie_info{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main_movie_info_col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-flow: column;
}

.main .bgImg{
  position: absolute;
  width: 100%;
  height: 53rem;
  opacity: 0.2;
}


.poster{
  position: relative;
  margin-top: 5%;
  padding: 2% 5%;
  padding-bottom: 0;
  text-align: center;
}

.movie__poster{
  position: relative;
  width: 25rem;
  border-radius: 2rem;
//  border: 5px solid var(--color-info-cadre);
}

.trailer {
  position: relative;
  height: 65%;
  width: 60vw;
  //border-top: 1px solid var(--color-info-separator);
  margin-top: 10%;
}

iframe {
  width:100%;
  height:100%;
  position:relative;
  overflow:hidden;
}

.movie_info{
  margin: 0;
  padding: auto;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
}

.admin{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}

.admin default-button{
  margin-left: 3rem;
}

ul li{
  list-style: none;
}

.img__screenwriters{
  width: 20rem;
}

.streaming{
  position: relative;
  text-align: center;
  overflow: hidden;
}

.streaming ul{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.streaming ul li {
  position: relative;
  padding: 0 1rem;

}

.img__streaming{
  width: 4rem;
}

.streaming ul li:hover {
  padding: 0 2rem;
  .img__streaming{
    transform: scale(1.6);
  }
}


.directors{
  border-top: 1px solid var(--color-info-separator);
  justify-content: center;
  text-align: center;
  position: flex;
  width: 80%;
  margin: 1% 10%;
}


.directors ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  list-style-type: none ;
  padding: 0;
}

.directors .img__directors{
  width: 15rem;
  height: 22rem;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--color-info-cadre);
}

.screenwriters{
  border-top: 1px solid var(--color-info-separator);
  margin: 1% 10%;
  justify-content: center;
  text-align: center;
}

.screenwriters ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  list-style-type: none ;
  padding: 0;
}

.screenwriters .img__screenwriters{
  width: 15rem;
  height: 22rem;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--color-info-cadre);
}

.plot{
  border-top: 1px solid var(--color-info-separator);
  margin: 1% 10%;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}

.streaming{
  border-top: 1px solid var(--color-info-separator);
  margin: 10%;
}







.actors{
  border-top: 1px solid var(--color-info-separator);
  margin: 1% 10%;
  justify-content: center;
  text-align: center;
}


.actors ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  list-style-type: none ;
  padding: 0;
}

.actors .img__actors{
  width: 15rem;
  height: 22rem;
  margin: 10px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid var(--color-info-cadre);
}

.actors .txt__actors{
  font-size: 1.5rem;
  margin: 0;
}
.actors h4{
  font-size: 1rem;
  margin: 0;
}


.fav_list_buttons{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content:center;

}
.fav_button{
  margin-right: 2rem;
}
