<div class="container">
  <div class="content">
    <section class="main">
      <div class="admin" *ngIf="isAdmin">
        <default-button type="button" text="Delete" (onClick)="deleteMovie()"></default-button>
        <default-button type="button" text="Update" (onClick)="updateMovie()"></default-button>
      </div>
      <img class="bgImg" [src]="movie.background">
      <div class="mainContent">
        <div class="main_movie_info">
          <div class="poster">
            <img class="movie__poster" [src]="movie.poster" [alt]="movie.title">
          </div>

          <div class="main_movie_info_col">
            <div class="trailer">
              <iframe [src]="videoUrl" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            </div>

            <div class="movie_info">
              <div class="fav_list_buttons">
                <fav-button class="fav_button" id="{{movie.id}}"></fav-button>
                <my-list-button class="myList_button" id="{{movie.id}}"></my-list-button>
                <watched-button id="{{movie.id}}"></watched-button>
                <div class="rating">
                  <star-rating [valueOfStars]="movie.stars" icon="★">
                  </star-rating>
                  <div class="rating_box tooltip">
                    <span class="numberOfRatings">{{numberOfRatings}}</span>
                  </div>
                </div>
              </div>

              <div class="movie_txt">
                <h1>{{movie.title}}</h1>
                <p>Sorti en France en {{movie.year}}</p>
                <p>Durée : {{duration}}</p>
              </div>


            </div>

          </div>
        </div>
      </div>
    </section>

    <section class="info">

      <div class="plot">
        <h2>Synopsis</h2>
        <p>{{movie.plot}}</p>
      </div>


      <div class="zone directors">
        <h2>Directors</h2>

        <ul>
          <li *ngFor="let director of movie.director">
            <img class="img__directors" [src]="director.photo" [alt]="director.name">
            <h3 class="txt__directors">{{director.name}}</h3>
          </li>
        </ul>
      </div>

      <div class="zone screenwriters">
        <h2>Screenwriters</h2>
        <ul>
          <li *ngFor="let screenwriter of movie.screenwriters">
            <img class="img__screenwriters" [src]="screenwriter.photo" [alt]="movie">
            <h3 class="txt__screenwriters">{{screenwriter.name}}</h3>
          </li>
        </ul>
      </div>

      <div class="zone actors">
        <h2>Actors</h2>
        <ul>
          <li *ngFor="let actors of movie.actors; let i=index" >
            <img class="img__actors" [src]="actors.photo" [alt]="movie" *ngIf="i<numberOfActors">
            <h3 class="txt__actors" *ngIf="i<numberOfActors">{{actors.name}} </h3>
            <h4 *ngIf="i<numberOfActors">rôle: {{actors.role}} </h4>
          </li>
        </ul>
        <default-button *ngIf="!hideActorsButoon" type="button" (click)="seeAllActors()" text="All actors"></default-button>
        <default-button *ngIf="hideActorsButoon" type="button" (click)="hideAllActors()" text="Hide actors"></default-button>
      </div>



      <div class="streaming">
        <h2>Where can i watch it??</h2>
        <ul>
          <li *ngFor="let streaming of movie.streaming">
            <h1>{{streaming.name}}</h1>
            <a href="https://www.disneyplus.com" target="_blank"
              *ngIf="streaming.name.toLowerCase().includes('disney')">
              <img class="img__streaming" src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Disney%2B_logo.svg"
                alt="disney">
            </a>
            <a href="https://www.primevideo.com" target="_blank" *ngIf="streaming.name.toLowerCase().includes('prime')">
              <img class="img__streaming"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Amazon_Prime_Video_logo.svg/440px-Amazon_Prime_Video_logo.svg.png"
                alt="primevideo">
            </a>

            <a href="https://www.netflix.com" target="_blank" *ngIf="streaming.name.toLowerCase().includes('netflix')">
              <img class="img__streaming"
                src="https://upload.wikimedia.org/wikipedia/commons/0/08/Netflix_2015_logo.svg" alt="netflix">
            </a>
          </li>
        </ul>
      </div>


    </section>

    <section class="comments">
      <div class="commentsBox">
        <ul *ngFor="let comment of movie.comments">
          <li style="list-style-type: none">
            <app-comments nameUser="{{comment.nameUser}}"
            comment="{{comment.comment}}"
            [rating]="comment.rating"
            [likes]="comment.likes"
            [dislikes]="comment.dislikes"
            [spoil]="comment.spoil">
            </app-comments>
          </li>
        </ul>

        <div class="commnetForm" *ngIf="isAuth">
          <comment-form></comment-form>
        </div>
      </div>

    </section>
  </div>
</div>
