<div class="container">
  <div class="profile">
    <div class="user_profile_img">
      <img class="user_profile_img" src="../assets/images/profile_Img/profile.png" alt="img">

    </div>

    <div class="user_profile_name">
      <h1> {{user.name}} </h1>
      <span *ngIf="isAdmin"><h2>Admin de MoviesApp</h2></span>

      <div class="profile_resume">

        <div class="counter">
          <h3>TEMPS PASSE A REGARDER DES FILMS</h3>
          <div class="counter_item">
            00 00 00
          </div>
        </div>

        <div class="resume">
          <h3>FILMS REGARDES </h3>
          <div class="counter_item">
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="fav">
    <h2><a routerLink="/favorits">Favoris</a></h2>
    <div class="favFilms">
    </div>
  </div>

  <div class="myList">
    <h2><a routerLink="/maListe">Ma Liste</a></h2>
    <div class="myListFilm">

    </div>

  </div>

  <div class="info">
    <h2>Commentaires: <span> 0</span> </h2>
    <h2>Films notes: <span>  0 </span> </h2>

  </div>
</div>
