.container{
  display: block;
  position: relative;
  margin: 0;
  text-align: center;
}

ul{
  margin-top: 10%;
  width: fit-content;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  list-style-type: none ;
  padding-bottom: 10%;
}


/*
ul {
  width: 80%;
  height: 100%;
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap 1%;
  justify-content: space-between;
  list-style: none;
  overflow: hidden;
  padding: 0;
}
*/
