.container{
  display: flex;
  justify-content: center;
  width: 100%;
}

button{
  height: 2.5rem;
  border-radius: 0.8rem;
  border: none;
  outline: none;
  font-weight: 200;
  width: 100%;
  margin: 2rem auto;
  opacity: 0.6;
}

button:hover{
  cursor: pointer;
  opacity: 1;
}
