div{
  margin: 1rem;
  text-align: center;
  width: 40rem;
  border-radius: 5px;

}
form{
  display: inline;
  width: 30rem;
  height: 2.4rem;;
  opacity: 0.8;
  transition: ease 500ms;
}

form:hover{
  opacity: 1;
}

input{
  position: relative;
  margin: auto;
  padding: auto;
  height: 2.4rem;
  width: 100%;
  color: var(--color-txt-dark);
  color: var(--color-black);
  text-decoration: none;
  font-size: 18px;

}


span{
  background-color: var(--color-white);
}

#search_icon_span{
  width: 30px;
  height: auto;
  margin: auto;
  text-align: center;
}
.search_text_span{
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  padding: auto;
  margin: 0 auto;

}

button{
  position: absolute;
  height: auto;
  width: auto;
  background-color: transparent;
  transform: translateX(-3rem);
  margin-top: 2px;
  border: none;

}

button:hover{
  width: 3rem;
  height: 2rem;
  border-radius: 2px;
  padding-bottom: 2.1rem;
}

button:hover{
  .search_text_span{
    display: block;
    width: 100%;
    height: 100%;
    margin: 0.5rem 0;
    font-size: 16px;
    transform: translateX(-1rem);

  }
  #search_icon_span{
    display: none;
  }

}

