.container{
  width: 100%;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-self:center;
  justify-content: space-between;

}

side-background{
  display: flex;
  margin: 0 10% 0 0 ;
}

.details{
  margin: 10% 5% 5% 0;
  display:relative;
  padding: 2rem;
  background-color: var(--color-second);
  border-radius: 5px;
  text-align: center;
  justify-content: center;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

app-title{
  text-align: center;
}

.register{
  text-align: center;
  font-size: 2rem;
  color :var(--color-txt);
}
