<div class="container">
  <form [formGroup]="commentForm" (ngSubmit)="submit()">
    <div class="form-group ">
      <textarea type="text" formControlName="comment" id="comment" class="form-control"
        placeholder="Ajoutez un commentaire..."></textarea>
    </div>
    <div class="form-group">
      <input formControlName="rating" id="rating" class="form-control" name="rating"
        placeholder="Rate">
    </div>
  </form>
  <default-button type="button" text="comment!!" (click)="submit()"></default-button>
</div>
