/*******Comments*******/
.comment{
  background-color: #e4d7d7;
  border-radius: 15px;
  padding: 1%;
  display: flex;
  flex-direction: row
}

.commet_rating{
  width: 9rem;
  margin: 0;
  position: relative;
}


.form-group{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;

}

textarea{
  margin: 0 15%;
  width: 70%;
  height: 10rem;
  color: var(--color-txt-dark);
  border-radius: 1rem ;
  justify-content: center;
  text-align: center;
  font-size: 1.5rem;
}

/*start*/
.formStars{
  display: grid;
  justify-content: center;
  place-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.starsContainer{
  position: relative;
  width: fit-content;
  border-radius: 5px;
  margin-top: -1vw;
  padding: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.starsContainer .star-widget input{
  display: none;
}
.star-widget label{
  font-size: 40px;
  color:var(--color-star-not-ok);
  padding: 2px;
  float: right;
  transition: all 0.2s ease;
}
input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: var(--color-star-ok)
}
input:checked ~ label{
  color: var(--color-star-ok);
}
input#rating-5:checked ~ label{
  color: var(--color-logo-second);
  text-shadow: 0 0 20px #952;
}
