.container{
  display: flex;
  justify-content: center;
  align-self:center;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.details{
  padding: 0.5rem 2rem 2rem 2rem;
  background-color: var(--color-second);
  border-radius: 5px;
  box-shadow: 2px 2px 4px 0 var(--color-logo-second);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

app-title{
  text-align: center;
}

.login{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--color-txt);
}
