.container{
  width: 100%;
  height: 100%;
  margin-top: 1vw;
}
.carrousel-container{
  position: relative;
  margin: auto;
  text-align: center;
}

.box{
  display: none;
}

.box.box-active{
  display: flex;

}

//dot indicators

.carousel-dot-container{
  position: relative;
  top: -9vw;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-bottom: 1rem;
}

.dot{
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 5px;
  // background-color: var(--color-txt);
  background-color: #fff;
  transition: opacity 0.6s ease;
  border-radius: 50%;
  opacity: 0.5;
}

.active,
.dot:hover{
  opacity: 1;
}


/*--------------------*/

.box{
  margin: 7% 8% ;
  height: 100%;
  flex-direction: row;
  background-color: #121212;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 2px 4px 4px 4px rgba(14, 74, 107, 0.5);
}

.left{
  position: relative;
  height: 40rem;
  width: 100%;
  justify-content: center;
}

.left img{
  padding: 0;
  height: 100%;
  width: 100%;
  object-fit: fill;
  opacity: 0.7;
}
.left img:hover{
  opacity: 1;
}


.right{
  width: 150%;
  height: auto;
  // background-color: green;
}

iframe {
  width:100%;
  height:30rem;
  overflow:hidden;
}
.right_bottom .movieTitle{
  margin-top: 2%;
  font-size: 2rem;
  font-family: var(--font-cards);
  color: var(--color-txt);
}

.right_bottom .buttons{
  display: flex;
  justify-content: center;
}


/*transitions*/

.fade {
  animation-name: slideFade;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

@keyframes slideFade {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

