<div class="container">
  <div class="star-rating">
    <input type="radio" name="rate" id="rate-5">
    <label for="rate-5">{{icon}}</label>
    <input type="radio" name="rate" id="rate-4">
    <label for="rate-4">{{icon}}</label>
    <input type="radio" name="rate" id="rate-3">
    <label for="rate-3">{{icon}}</label>
    <input type="radio" name="rate" id="rate-2">
    <label for="rate-2">{{icon}}</label>
    <input type="radio" name="rate" id="rate-1">
    <label for="rate-1">{{icon}}</label>
    <h1 [innerHTML]="valueOfStars"> </h1>
  </div>
</div>
