* {
  margin: -5px 0;
  padding: 0;



}

.container {
  width: 130px;
  padding: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container .star-rating input {
  display: none;
  color: #952;
}

.star-rating label {
  font-size: 30px;
  color: gray;
  padding: auto;
  float: right;
  transition: all 0.2s ease;
}

.star-rating label.filled {
  color: var(--color-star-ok);
}

.star-rating.green-stars label {
  color: var(--color-logo-second);
  text-shadow: 0 0 10px #952;
}

