<div class="container">


  <div class="left">
    <div class="div__img">
      <img src="./assets/images/android-chrome-512x512.png" alt="Logo">
    </div>
  </div>

  <div class="rigth">
    <div class="div__txt">
      <h2 id="hello"></h2>
    </div>
    <div class="about__txt">
      <h1>
        Hi this is my final project
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Sed distinctio repudiandae, necessitatibus natus dolorem,
        consequatur quisquam modi quia temporibus sequi molestiae praesentium consequuntur voluptate possimus minus assumenda alias? Eveniet, sed?
      </p>

    </div>
  </div>
</div>
