/*******Comments*******/

.comment_title{
  text-align: center;
  font-size: 2.5rem;
}

.comments{
  margin: 0 10%;
  width: 80%;
  height: 100%;
}

.commentsBox{
  background-color: var(--color-second);
  border-radius: 15px;
  margin: 0;
  padding: 3%;
}

.comment{
  background-color: #e4d7d7;
  border-radius: 15px;
  margin:  -3.5% 0;
  padding: 1%;
  display: flex;
  flex-direction: row;
}
.comment .cLeft{
  width: 8rem;
  height: 6rem;
  border-radius: 50%;
  background-color: white;
  margin-right: 1rem;
}
.comment .cRight{
  display: flex;
  margin: 0;
  width: 80%;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  justify-items: left;

}

.commet_rating{
  width: 9rem;
  margin: 0;
  position: relative;

}

.cRight p , .cRight h3{
  color:var(--color-txt-dark);
  font-size: 18px;
}


.spoilButton{
  height: 4vh;
  width: 4vw;
  border: none;
  background-color: var(--color-logo-second);
  border-radius: 10px;
  opacity: 0.6;
  transition: 0.8s ease;
}
.spoilButton:hover{
  opacity: 1;
}
.spoilButton:active{
  transform: scale(0.9);
}
