<div class="container">
  <app-title title="Movies Watched by {{user.name}}"></app-title>

  <div class="user_profile_name">
    <div class="profile_resume">
      <div class="counter">
        <movies-time [minutes]="minutes"></movies-time>
      </div>

      <div class="resume">
        <movies-watched [counter]="filmsRegardes"></movies-watched>
      </div>

    </div>
  </div>

  <div class="moviesWatched">
      <ul *ngFor="let movie of movies">
        <li>
          <one-movie  id="{{movie.id}}"
          img="{{movie.poster}}"
          [favorite]="movie.favorite"
          [starsNumber]="movie.stars"
          title="{{movie.title}}"
          ></one-movie>
        </li>
      </ul>
    </div>



</div>
