<div class="container">
  <ul>
    <li>
      <a [routerLink]="['/movie/', id]">
        <div class="movie__poster">
          <img [src]="img" [alt]="title">
        </div>

        <div class="content">
          <div class="container_fav_stars">
            <star-rating [valueOfStars]="starsNumber" icon="★" (click)="onStarClick($event)">
            </star-rating>
            <!--<star-rating [value]="starsNumber"
                [totalstars]="5"
                checkedcolor="#fb8500"
                funcheckedcolor="black"
                size="22px"
                [readonly]="true">
             </star-rating>-->
             <div *ngIf="isAuth">
             <span class="favorite{{favorite?'':'-not'}}">❤
              </span>
              </div>
          </div>


          <div class="name">
            {{title}}
          </div>

        </div>
      </a>
    </li>
  </ul>

</div>
