ul{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  list-style-type: none;
  padding: 0px;
}

li{
  display: flex;
  margin: 0.5rem;
  height: 30rem;
  width: 14rem;
  border-radius: 5px;
  flex-direction: column;
  overflow: hidden;
  color: var(--color-not-heart-not-fav);
  background-color: var(--color-second);
}


li a:hover{
  cursor: pointer;
}

li a .movie__poster img{
  height: 22rem;
  object-fit: cover;
}

li a .movie__poster img:hover{
  opacity: 0.7;
}

.content{
  position: relative;
  padding: 0.5rem 0.6rem;
  height: 7rem;
}


.container_fav_stars{
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: left;
  text-align: center;
  width: 100%;
  margin-bottom: 1rem;
}

.favorite{
  position: relative;
  color: var(--color-heart);
  font-size: 1.2rem;
  right: -1.5rem;
  top: -0.5rem;
  z-index: 1;
}

.stars{
  position: relative;
  padding: 0;
  margin: 0;
  color: var(--color-not-heart-not-fav);
}

.name{
  font-size: 20px;
  color: var(--color-txt);
  font-family: var(--font-cards);
}

.fake_fav_button{
  height: 3rem;
  width:  3rem;
  margin-top: -0.8rem;
  margin-left: 1.2rem;
  background-color: transparent;
  text-decoration: none;
  font-size: 2rem;
  border: none;
  border-radius: 50%;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
  color: aliceblue;
  cursor: not-allowed;


}

.fake_fav_button:hover{
  // background-color: var(--color-logo-second);
  // background-color: red;
  color: red;
  transform: scale(1.2);
  transition: 40ms ease-in-out;
  opacity: 1;

}

.favorite{
  display: flex;
  flex-direction: row;
  transform: scale(0.8);
  margin-left: -1.5rem;
  margin-top: -0.5rem;
}
