<div class="container">
  <app-title title="Add Movie"></app-title>
  <form action="post">

    <!---<input-container label="add Movie">
      <label for="title">Title</label>
      <input type="text" name="title">
      <label for="year">Year</label>
      <input type="text" name="year" id="year_input">
    -->


      <text-input
      bgColor="#181818"
      type="text"
      label="title">
      </text-input>

      <text-input
      bgColor="#181818"
      type="text"
      label="director">
      </text-input>


  </form>
</div>
