app-title{
  color:var(--color-txt);
  font-size: 30px;
}

.container{
  padding-bottom: 10%;
}

.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 80%;
  height: 100%;
  margin: 0 10%;
  background-color: var(--color-second);
  border-radius: 20px;
}

/***********************/

.case{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.redirect__login, .notAdmin{
  list-style: none;
  text-align: center;
  color: var(--color-txt);
  font-size: 2rem;
}

svg{
  fill: red;
  width: 30rem;
}
