form{
  display: flex;
  flex-direction: column;
}

.form-group{
  display: block;
  margin-bottom: 2%;
}

label{
  display: flex;
  flex-direction: column;
  color: var(--color-txt);
  font-size: 1.5rem;
}

input, textarea{
  width: 50%;
  height: 2rem;
  border: none;
  border-radius: 10px;
  border-bottom: 0 solid var(--color-logo-second);
  transition: border-bottom 0.15s ease-out;
  background-color: var(--color-input-bg);
  font-size: 1rem;
  outline: none;
}

textarea{
  width: 80%;
  height: 10rem;
}

input::placeholder{
  color: var(--color-input-placeholder);
  font-size: 0.9rem;
}

input::content{
  color: var(--color-txt);
}
input:focus{
  border-width: 4px;
}

h3{
  color: var(--color-txt);
}

.section{
  border-top: 2px solid var(--color-logo-second);
}
