.container{
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  background-color: var(--color-main);
  top: 0;
  left: 0;
}

.details{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

h1{
  text-transform: lowercase;
  color: var(--color-logo-second);
}
